.main_find-book {
    #libros {
        .carrito-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            #search {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 5rem 0 1rem 4.5rem;
                h1 {
                    font-size: 3.2rem;
                    text-align: left;
                    margin-bottom: 1.5rem;
                }

                .search-bar {
                    font-size: 1.2rem;
                    font-weight: $font-semiBold;
                    padding: 1.2rem 2rem;
                    border-radius: 2.5rem;
                    letter-spacing: .1rem;
                    width: 22rem;
                    border: none;
                    background-color: rgba(40, 111, 255, 1);
                    color: white;
                    outline: none;
                    opacity: .5;

                    transition: all .6s ease;
                }
                .search-bar:hover {
                    cursor: pointer;
                    opacity: .8;
                }
                .search-bar::placeholder {
                    color: white;
                    font-weight: $font-semiBold;
                    letter-spacing: .1rem;
                }
                .search-bar:focus {
                    width: 36rem;
                    opacity: 1;
                    cursor: text;
                    box-shadow: 0px 0px 20px 0px hsl(220, 100%, 60%);
                }
            }
            .icon-button {
                margin: 5rem 5rem 1rem 0;
                color: white;
                padding: 1.2rem 1.4rem;
                border-radius: .4rem;
                background-color: hsl(0, 0%, 75%);
                outline: none;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                
                transition: all 150ms ease-in-out;

                img {
                    width: 3.5rem;
                }

                .icon-button__badge {
                    display: none;
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: hsl(0, 100%, 65%);
                    border-radius: 50%;

                    transition: all 150ms ease-in-out;
                }
            }
            .icon-button:hover {
                background-color: hsl(0, 0%, 100%);
                box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
                
                .icon-button__badge {
                    background-color: hsl(0, 100%, 55%);

                    animation: subir 400ms ease 1;
                }

                @keyframes subir {
                    0% {
                        transform: translateY(0);
                    }
                    50% {
                        transform: translateY(-.8rem);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
            }
        }
        #container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 2.2rem;
            gap: 5rem;

            .div-book {
                display: flex;
                padding: 2.4rem;
                border-radius: .8rem;
                position: relative;
                bottom: 0;

                transition: all 200ms ease-in-out;
                img {
                    width: 30%;
                    border-radius: .4rem;
                }

                .align-items {
                    display: flex;
                    flex-direction: column;
                    margin-left: 2rem;
                    justify-content: space-between;

                    .title-book {
                        font-size: 1.7rem;
                    }

                    .writer-gender {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .writter-book {
                            font-size: 1.5rem;
                            color: hsl(220, 100%, 80%);
                        }
                        p {
                            font-size: 1.4rem;
                            font-weight: $font-semiBold;
                        }
                    }

                    .btn-cart {
                        border: none;
                        border-radius: .5rem;
                        width: 18rem;
                        padding: .5rem 1.5rem;
                        background-color: rgba(40, 111, 255, 1);
                        color: white;
                        cursor: pointer;

                        transition: all .3s ease-in-out;
                    }

                    .btn-cart:disabled {
                        width: 12rem;
                        color: rgba(255, 255, 255, .7);
                        background-color: rgba(50, 255, 40, 0.3);
                        cursor: not-allowed;
                    }
                }

            }
            .div-book:hover {
                background-color: rgba(40, 111, 255, .3);
                bottom: 1rem;
            }
        }
    }
}