.header {
    background: rgb(14,63,112);
    background: linear-gradient(90deg, rgb(19, 82, 146) 0%, rgba(0,95,255,1) 100%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    left: 0;
    padding: .8rem;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__anchor {
            text-decoration: none;
            &__h2 {
                font-size: 2.4rem;
                color: white;
                letter-spacing: .1rem;
                font-weight: $font-black;
                span {
                    font-weight: $font-light;
                }
            }
        }
        &__list--active {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-content: center;
            li {
                padding: .6rem 2.4rem;
                a {
                    font-size: 1.4rem;
                    font-weight: bold;
                    letter-spacing: .1rem;
                    color: white;
                    text-decoration: none;
                    transition: all 220ms;
                }
                a:hover {
                    color: hsl(0, 0%, 80%);
                }
            }
        }
        &__menu-ham {
            display: none;
        }
    }
}
@media all and (min-width:320px) and (max-width: 768px) {
    .header {
        width: 100%;
        &__nav {
            &__list {
                display: none;
            }
            &__menu-ham {
                display: block;
                #boton-ham {
                    z-index: 100;
                }
            }
        }
    }
}