#modal {
    background-color: hsl(225, 75%, 50%);
    width: 100%;
}
.modal {
    color: whitesmoke;
    letter-spacing: .1rem;

    h3 {
        font-size: 1.7rem;
        text-align: center;
    }

    hr {
        margin: .5rem 10rem;
        border: 0; 
        border-top: .2rem solid hsl(225, 40%, 65%);
        border-radius: 1rem;
    }

    
    table {
        margin: 1.4rem .2rem 1.4rem .2rem;
        font-size: 1.4rem;
        width: 100%;
        
        th {
            font-size: 1.6rem;
            font-weight: $font-bold;
        }
        #carrito {
            tr {
                td:nth-child(2) {
                    font-weight: $font-black;
                    font-size: 1.25rem;
                }

                td:nth-child(1) {
                    text-align: center;
                }
                td {
                    padding: 1rem 0;

                    img {
                        width: 3.4rem;
                        margin-right: .5rem;
                    }
                }
                .header {
                    color: black;
                    // font-size: 1.5rem;
                    font-weight: $font-semiBold;
                }
                .header-price {
                    font-weight: $font-semiBold;
                }
            }
        }
    }

    button {
        font-size: 1.5rem;
        font-weight: $font-bold;
        cursor: pointer;
        color: white;
        background-color: hsl(0, 100%, 65%);
        padding: .5rem 1rem;
        border-radius: .2rem;
        border: none;
        margin-left: 3.5rem;

        transition: all 100ms ease-in-out;
    }

    button:hover {
        background-color: hsl(0, 100%, 45%);
    }

    button:active {
        transition: all 0.15s ease-in-out;
        transform: scale(0.95);
    }

    .total {
        display: block;
        margin-top: 1rem;
        font-weight: $font-bold;
        margin-bottom: 1.5rem;
    }

    .comprarLibros {
        background-color: hsl(110, 100%, 50%);
        font-weight: $font-bold;
        margin: 0;

        transition: all 150ms ease;
    }

    .comprarLibros:hover {
        background-color: hsl(110, 100%, 30%);
    }
}